body
   background-color: #192329
   color: #fff

#app 
   width: 100%

.deviation-table
   font-family: Arial, Helvetica, sans-serif
   font-size: 14px
   width: 100%

   thead
      th
         cursor: pointer
         padding: 10px
         text-align: left 

   tbody
      tr
         &:nth-child(odd) 
            background-color: #1c252d
         &:hover
            background-color: darkgreen
            cursor: pointer
         td
            padding: 10px

.indicator
   display: grid
   grid-template-columns: auto 100px auto
   min-width: 280px;
   
.bar-container   
   width: 100%
   
.bar
   width: 80%
   background-color: red

   